@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Light theme */
        --background: #ffffff;
        --foreground: #0f172a;

        --popover: #ffffff;
        --popover-foreground: #0f172a;

        --primary: #2563eb;
        --primary-foreground: #f8fafc;

        --secondary: #f1f5f9;
        --secondary-foreground: #0f172a;

        --muted: #f1f5f9;
        --muted-foreground: #64748b;

        --accent: #f1f5f9;
        --accent-foreground: #0f172a;

        --destructive: #dc2625;
        --destructive-foreground: #f8fafc;

        --border: #e2e8f0;
        --input: #e2e8f0;
        --ring: #2563eb;

        --radius: 0.5rem;
    }

    .dark {
        /* Dark theme */
        --background: #020617;
        --foreground: #f8fafc;

        --popover: #020617;
        --popover-foreground: #f8fafc;

        --primary: #2563eb;
        --primary-foreground: #020617;

        --secondary: #1e293b;
        --secondary-foreground: #f8fafc;

        --muted: #1e293b;
        --muted-foreground: #94a3b7;

        --accent: #1e293b;
        --accent-foreground: #f8fafc;

        --destructive: #b91c1c;
        --destructive-foreground: #f8fafc;

        --border: #1e293b;
        --input: #1e293b;
        --ring: #3b82f6;
    }
}


@layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
      font-family: "Space Grotesk", sans-serif;
    }
  }